/* Reset default margins/padding for page */
html, body {
  margin: 0;
  padding: 0;
 
}

.navbar {
  opacity: 0.7;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FADADD;
  box-shadow: 0 2px 5px rgba(78, 78, 78, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-container{
  display: flex;
  justify-content: end;
}
.navbar-logo {
  position: relative;
  object-fit: contain;
  height: 65px;
  margin-left: 30px;
}

.navbar-links {
  position: relative;
  display: flex;
  gap: 1.5rem;
  list-style: none;
  right: 30px;
}

.navbar-links li {
  position: relative;
  color: #3E2723 ;
}

.navbar-links li a,
.dropdown-toggle {
  text-decoration: none;
  color: var(--main-yellow-color);
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-links li a:hover,
.dropdown-toggle:hover {
  color: #007BFF;
}

.ar-flag{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
    margin: 5px;

}

.us-flag{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}
/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(255, 255, 255);
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  min-width: 150px;
  display: none; /* default hidden */
}

.dropdown.open .dropdown-menu {
  display: block; /* visible when open */
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu li a {
  color: var(--main-yellow-color);
  display: block;
}

/* .dropdown-menu li a:hover {
  background: var(--main-yellow-color);
} */

/* Mobile toggle */
.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar{
    display: flex;
    justify-content: space-between;
    height: 40px;
  }
  .navbar-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(0,0,0,0.8);
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    display: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .navbar-links.active {
    display: flex;
    width: fit-content;

  }

  .navbar-toggle {
    display: block;
  }

  .navbar-logo {
    position: relative;;
    height: 40px;
    margin-left: 10px;
  }

  /* On mobile, dropdown stays inline */
  .dropdown-menu {
    position: static;
    box-shadow: none;
    min-width: unset;
  }

}
